.git
.gitignore
.github
.env
.env.*
!.env.example
!.env.docker
node_modules
var
vendor
public/build
.phpunit.cache
.phpunit.result.cache
tests
docker-compose.yaml
compose_disable.yaml
compose_disable.override_disable.yaml
terminals
*.md
!README.md
RBAC_AUDIT.md
RUBRIC_ASSESSMENT.md
